{{ $openGraph := default site.Params.opengraph .Params.opengraph }}
{{- with default (cond .IsHome site.Title (printf "%s | %s" .Title site.Title)) $openGraph.title }}
  <meta property="og:title" content="{{ . }}" />
{{- end }}
{{- with $openGraph.description }}
  <meta property="og:description" content="{{ . }}" />
{{- end }}
{{- with default (cond .IsHome site.BaseURL .Permalink) $openGraph.url }}
  <meta property="og:url" content="{{ . }}" />
{{- end }}
{{- with default (absURL "images/favicon-512x512.png") $openGraph.image }}
  <meta property="og:image" content="{{ . }}" />
{{- end }}
{{- with $openGraph.type }}
  <meta property="og:type" content="{{ . }}" />
{{- end }}
